.login {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  min-height: 97.9vh;
  padding-left: 14px;
  padding-top: 14px;
}

.login:before {
  background: url('../../imgs/img-login.png') no-repeat center center;
  background-size: cover;
  border-radius: 8px;
  content: '';
  display: block;
}

.forms {
  margin: auto;
  max-width: 400px;
}

.buttonLogin {
  background: #4f9b17;
  border-radius: 4px;
  border-style: none;
  color: white;
  font-size: 1.125rem;
  padding: 1rem;
  transition: 1s;
  width: 100%;
}

.buttonLogin:disabled {
  background: #eee;
}

.buttonLogin:not( :disabled ):hover {
  background: #3d7812;
  cursor: pointer;
  transition: 1s;
}

@media ( max-width : 40rem ) {

  .login {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .login:before {
    display: none;
  }

  .forms {
    margin: auto;
    max-width: 340px;
  }
}
