.login {
  padding-top: 14px;
  padding-left: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 97.9vh;
  gap: 2rem;
}

.login::before {
  display: block;
  content: "";
  background: url("../../imgs/img-login.png") no-repeat center center;
  background-size: cover;
  border-radius: 8px;
}

.forms {
  max-width: 400px;
  margin: auto;
}

.buttonLogin {
  width: 100%;
  padding: 1rem;
  border-style: none;
  background: #4f9b17;
  color: white;
  font-size: 1.125rem;
  border-radius: 4px;
}

.buttonLogin:hover {
  background: #3d7812;
  cursor: pointer;
  transition: 1s;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .login::before {
    display: none;
  }
}
