.walletForm {
  display: grid;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  padding-top: 80px;
}

@media (max-width: 430px) {
  .walletForm {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
}
