.header {
  background: black;
  border-bottom: 2px solid #8ce24d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

.nav {
  align-items: center;
  color: #8ce24d;
  display: flex;
  height: 5rem;
  justify-content: space-between;
}

.coin {
  display: flex;
  justify-content: space-between;
}

.coin p {
  margin-right: 4px;
}
