.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  background: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.coin {
  display: flex;
  justify-content: space-between;
}

.coin p {
  margin-right: 4px;
}
