/* .wrapper {
  margin: auto;
} */

.input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  font-size: 1rem;
  max-height: 44px;
  padding: 0.8rem;
  transition: 0.2s;
  width: 100%;
}

.input:hover,
.input:focus {
  border-color: #fb1;
  outline: none;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin: auto;
  padding-bottom: 1rem;
}

@media (max-width: 430px) {
  .wrapper,
  label {
    flex: 1;
  }
}

@media (max-width: 360px) {
  .wrapper,
  label {
    min-width: 100%;
  }
}
