.wrapper {
  margin-bottom: 1rem;
}

.input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  font-size: 1rem;
  margin-top: 0.625rem;
  max-height: 44px;
  padding: 0.8rem;
  transition: 0.2s;
  width: 100%;
}

.input:hover , .input:focus {
  border-color: #fb1;
  outline: none;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  max-height: 80px;
  padding-bottom: 1rem;
}

@media ( max-width : 430px ) {

  .wrapper , label {
    flex: 1;
  }
}
