.tableContainer {
  overflow-x: auto;
  padding: 0 1.5rem;
  padding-bottom: 2rem;
  padding-top: 0.4rem;
  width: 100%;
}

.table {
  border-collapse: collapse;
  min-width: 1080px;
  width: 100%;
}

.trHeader th {
  align-self: flex-end;
  color: #8e8e8e;
  flex: 1;
  font-weight: 700;
  padding: 10px;
  text-align: left;
}

tbody td {
  align-self: center;
  flex: 1;
  padding: 10px;
  text-align: left;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

tbody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

tr {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

tr:nth-child(2n) {
  background: #eee;
  border-radius: 8px;
}

tr button:hover svg > * {
  fill: rgb(30, 30, 30);
}
