.formContainer {
  padding: 2rem 2rem;
  border-right: 1px solid rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
}

.buttonWallet {
  border-style: none;
  background: #4f9b17;
  color: white;
  font-size: 1.125rem;
  padding: 1rem;
  border-radius: 4px;
  margin: 25px 0;
  min-width: 180px;
  max-height: 180px;
}

.buttonWallet:hover {
  background: #3d7812;
  cursor: pointer;
  transition: 1s;
}
