@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

.title {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

input {
  display: block;
  font-size: 1rem;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 1rem;
  max-height: 80px;
  margin-top: 1rem;
}

select {
  display: flex;
  border: none;
  border-bottom: 1px solid black;
  /* appearance: none; */
  width: 100%;
  max-height: 44px;
  background: none;
  padding: 0.8rem;
  font-size: 18px;
  color: black;
  min-width: 10rem;
  margin-top: 10px;
}

select:hover,
select:focus {
  outline: none;
  border-color: #fb1;
}

.animateLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animateLeft 0.3s forwards;
}

@keyframes animateLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 0 1rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 1060px;
}

.tr-header {
  padding: 1rem 0.5rem;
}

.tr-header th {
  font-weight: bold;
  text-align: left;
  align-self: flex-end;
  color: #8e8e8e;
}

table td,
table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

button img {
  fill: black;
}

tbody {
  display: table; /* Adicione esta linha */
  width: 100%; /* Adicione esta linha */
  justify-content: flex-start;
  margin: 20px auto;
}

tr:nth-child(2n) {
  background: #eee;
}

tr {
  padding: 0.25rem 0.5rem;
}

tbody tr,
thead {
  display: flex;
  align-items: center;
}

tbody td,
th {
  flex: 1;
  text-align: start;
}

tr button:hover svg > * {
  fill: rgb(30, 30, 30);
}

@media (max-width: 430px) {
  select,
  label {
    max-width: 180px;
    min-width: 180px;
  }
}
