body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

table {
  margin: 0;
}

.header-background{
  background-color: #222222;
  color: #2FC18C;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.header p {
  margin: 10px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

input {
  padding: 5px 0;
  padding-right: 50px;
  padding-left: 5px;
}

.form select {
  padding: 5px 20px;
}

.form-container {
  margin-top: 20px;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form button {
  background-color: #2FC18C;
  min-width: 100px;
  padding: 10px 0;
  margin: 40px 300px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  flex: 1;
  border: none;
}

.form button:hover {
  background-color: #12B178;
}

.form-container input, select {
  margin: 10px;
}

.table {
  max-width: 1280px;
  margin: 0 auto;
}

.table-th {
  border-bottom: 1px solid black;
}

tbody {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  flex-wrap: wrap;
}

tbody tr, thead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  margin-bottom: 20px;
  flex: 1 1 700px;
}

tbody td, th {
  flex: 1 1 10px;
  flex-grow: 1;
  text-align: center;
}

.form-edid {
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}